# Movie Recommendation System

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/ratings.csv"
df = pd.read_csv(url)

In [5]:
df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import TruncatedSVD

In [7]:
user_item_matrix = df.pivot(index='user_id', columns='book_id', values='rating').fillna(0)

In [8]:
train_data, test_data = train_test_split(user_item_matrix, test_size=0.2, random_state=42)

In [9]:
svd = TruncatedSVD(n_components=50, random_state=42)
svd_matrix = svd.fit_transform(train_data)

In [10]:
cosine_sim = cosine_similarity(svd_matrix)

In [11]:
def get_top_n(user_id, n=10):
    user_index = user_id - 1
    sim_scores = list(enumerate(cosine_sim[user_index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:n+1]
    book_ids = [user_item_matrix.index[i] for i, _ in sim_scores]
    return book_ids

In [15]:
user_id = int(input("Enter User ID: "))
print(f"\nFetching top 5 recommendations for user {user_id}...")
top_n = get_top_n(user_id, n=5)
print(f"Top 5 recommendations for user {user_id}: {top_n}")

Enter User ID:  3

Fetching top 5 recommendations for user 3...
Top 5 recommendations for user 3: [np.int64(6627), np.int64(102), np.int64(11631), np.int64(15359), np.int64(21239)]